<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>markupdate</servlet-name>
        <servlet-class>markupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonServlet</servlet-name>
        <servlet-class>com.action.JsonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabJsonServlet</servlet-name>
        <servlet-class>com.action.LabJsonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subjectallocupdate</servlet-name>
        <servlet-class>subjectallocupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionServlet</servlet-name>
        <servlet-class>ActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notesupdate</servlet-name>
        <servlet-class>notesupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notesupdates</servlet-name>
        <servlet-class>notesupdates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffmarkupdate</servlet-name>
        <servlet-class>staffmarkupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkForm</servlet-name>
        <servlet-class>MarkForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notesdownload</servlet-name>
        <servlet-class>notesdownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cvrupdates</servlet-name>
        <servlet-class>cvrupdates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regupdate</servlet-name>
        <servlet-class>regupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatemodeltype</servlet-name>
        <servlet-class>updatemodeltype</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exam_upload</servlet-name>
        <servlet-class>exam_upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>markupdate</servlet-name>
        <url-pattern>/markupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonServlet</servlet-name>
        <url-pattern>/JsonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabJsonServlet</servlet-name>
        <url-pattern>/LabJsonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subjectallocupdate</servlet-name>
        <url-pattern>/subjectallocupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionServlet</servlet-name>
        <url-pattern>/ActionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notesupdate</servlet-name>
        <url-pattern>/notesupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notesupdates</servlet-name>
        <url-pattern>/notesupdates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffmarkupdate</servlet-name>
        <url-pattern>/staffmarkupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkForm</servlet-name>
        <url-pattern>/MarkForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notesdownload</servlet-name>
        <url-pattern>/notesdownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cvrupdates</servlet-name>
        <url-pattern>/cvrupdates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regupdate</servlet-name>
        <url-pattern>/regupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatemodeltype</servlet-name>
        <url-pattern>/updatemodeltype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exam_upload</servlet-name>
        <url-pattern>/exam_upload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
