<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>ImageFilter</filter-name>
        <filter-class>Filter.ImageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ImageFilter</filter-name>
        <url-pattern>/StudentPhotos/*</url-pattern>
        <url-pattern>/StaffPhotos/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElectiveUpdate</servlet-name>
        <servlet-class>ElectiveUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonServlet</servlet-name>
        <servlet-class>com.action.JsonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabJsonServlet</servlet-name>
        <servlet-class>com.action.LabJsonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SectionUpdate</servlet-name>
        <servlet-class>SectionUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subjectallocupdate</servlet-name>
        <servlet-class>subjectallocupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionServlet</servlet-name>
        <servlet-class>ActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notesupdate</servlet-name>
        <servlet-class>notesupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notesupdates</servlet-name>
        <servlet-class>notesupdates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffmarkupdate</servlet-name>
        <servlet-class>staffmarkupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkForm</servlet-name>
        <servlet-class>MarkForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notesdownload</servlet-name>
        <servlet-class>notesdownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cvrupdates</servlet-name>
        <servlet-class>cvrupdates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regupdate</servlet-name>
        <servlet-class>regupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatemodeltype</servlet-name>
        <servlet-class>updatemodeltype</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exam_upload</servlet-name>
        <servlet-class>exam_upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletesub</servlet-name>
        <servlet-class>deletesub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formsdownload</servlet-name>
        <servlet-class>formsdownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>batchupdate</servlet-name>
        <servlet-class>batchupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>batchStatus</servlet-name>
        <servlet-class>batchStauts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formupload</servlet-name>
        <servlet-class>formupload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excelprofileupdate</servlet-name>
        <servlet-class>excelprofileupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>maincircularupload</servlet-name>
        <servlet-class>maincircularupload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attinchargeupdate</servlet-name>
        <servlet-class>attinchargeupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidNotes</servlet-name>
        <servlet-class>AndroidNotes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidDelDir</servlet-name>
        <servlet-class>AndroidDelDir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectAdd</servlet-name>
        <servlet-class>SubjectAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentAdd</servlet-name>
        <servlet-class>StudentAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcelStudentUpload</servlet-name>
        <servlet-class>ExcelStudentUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDetailsUpload</servlet-name>
        <servlet-class>StaffDetailsUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelForms</servlet-name>
        <servlet-class>DelForms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDelProfile</servlet-name>
        <servlet-class>StaffDelProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffFileDownload</servlet-name>
        <servlet-class>StaffFileDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElectiveJson</servlet-name>
        <servlet-class>com.action.ElectiveJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attinchargeedit</servlet-name>
        <servlet-class>attinchargeedit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SMSSender</servlet-name>
        <servlet-class>com.action.SMSSender</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffEduDownload</servlet-name>
        <servlet-class>StaffEduDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffExpDownload</servlet-name>
        <servlet-class>StaffExpDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBonus</servlet-name>
        <servlet-class>RemoveBonus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDelProfile</servlet-name>
        <servlet-class>StudentDelProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStudent</servlet-name>
        <servlet-class>updateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonSMS</servlet-name>
        <servlet-class>com.action.JsonSMS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addEntry</servlet-name>
        <servlet-class>addEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestEntry</servlet-name>
        <servlet-class>GuestEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonList</servlet-name>
        <servlet-class>com.action.PersonList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonGuest</servlet-name>
        <servlet-class>com.action.JsonGuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HolidayData</servlet-name>
        <servlet-class>com.action.HolidayData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateHolidays</servlet-name>
        <servlet-class>updateHolidays</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pendingDetails</servlet-name>
        <servlet-class>Forms.pendingDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processOutPass</servlet-name>
        <servlet-class>processOutPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processOutPassStaff</servlet-name>
        <servlet-class>processOutPassStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getFee</servlet-name>
        <servlet-class>Fee.getFee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setFee</servlet-name>
        <servlet-class>Fee.setFee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSpecialFee</servlet-name>
        <servlet-class>Fee.updateSpecialFee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generateMUP</servlet-name>
        <servlet-class>Fee.generateMUP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>receiveMUResponse</servlet-name>
        <servlet-class>Fee.receiveMUResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirectPay</servlet-name>
        <servlet-class>Fee.redirectPay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testRequest</servlet-name>
        <servlet-class>General.testRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertYear1</servlet-name>
        <servlet-class>InsertYear1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BatchAssign</servlet-name>
        <servlet-class>BatchAssign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentDetail</servlet-name>
        <servlet-class>PaymentDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentDetails</servlet-name>
        <servlet-class>PaymentDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>receiveIBResponse</servlet-name>
        <servlet-class>Fee.receiveIBResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>receiveTechProcessResponse</servlet-name>
        <servlet-class>Fee.receiveTechProcessResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TechProcess</servlet-name>
        <servlet-class>API.TechProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>receiveTechProcessAPIResponse</servlet-name>
        <servlet-class>API.receiveTechProcessAPIResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>councillorattupdate</servlet-name>
        <servlet-class>councillorattupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CouncillorAttEdit</servlet-name>
        <servlet-class>CouncillorAttEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffProfileEdit</servlet-name>
        <servlet-class>StaffProfileEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <servlet-class>API.Authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendPasswordSMS</servlet-name>
        <servlet-class>SendPasswordSMS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showReceipt</servlet-name>
        <servlet-class>Fee.showReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentUpdateChanges</servlet-name>
        <servlet-class>Actor.StudentUpdateChanges</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMapping</servlet-name>
        <servlet-class>addMapping</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBoardingPoint</servlet-name>
        <servlet-class>Transport.addBoardingPoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processBulkOutPass</servlet-name>
        <servlet-class>processBulkOutPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findNotes</servlet-name>
        <servlet-class>com.action.findNotes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authenticator</servlet-name>
        <servlet-class>API.Authenticator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimingServlet</servlet-name>
        <servlet-class>Transport.TimingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMarks</servlet-name>
        <servlet-class>Mark.UpdateMarks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteSubject</servlet-name>
        <servlet-class>deleteSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamUpdate</servlet-name>
        <servlet-class>Mark.ExamUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkAlumni</servlet-name>
        <servlet-class>API.checkAlumni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Switcher</servlet-name>
        <servlet-class>Dao.Login.Switcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdDownload</servlet-name>
        <servlet-class>IdDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Room_Change</servlet-name>
        <servlet-class>Room_Change</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Local_Guard</servlet-name>
        <servlet-class>Local_Guard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>local_guardian</servlet-name>
        <servlet-class>local_guardian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateCheck</servlet-name>
        <servlet-class>Mark.DateCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabMarkUpdate</servlet-name>
        <servlet-class>Mark.LabMarkUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonServlet</servlet-name>
        <url-pattern>/JsonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabJsonServlet</servlet-name>
        <url-pattern>/LabJsonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subjectallocupdate</servlet-name>
        <url-pattern>/subjectallocupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionServlet</servlet-name>
        <url-pattern>/ActionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notesupdate</servlet-name>
        <url-pattern>/notesupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notesupdates</servlet-name>
        <url-pattern>/notesupdates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffmarkupdate</servlet-name>
        <url-pattern>/staffmarkupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkForm</servlet-name>
        <url-pattern>/MarkForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notesdownload</servlet-name>
        <url-pattern>/notesdownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cvrupdates</servlet-name>
        <url-pattern>/cvrupdates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regupdate</servlet-name>
        <url-pattern>/regupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatemodeltype</servlet-name>
        <url-pattern>/updatemodeltype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exam_upload</servlet-name>
        <url-pattern>/exam_upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletesub</servlet-name>
        <url-pattern>/deletesub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formsdownload</servlet-name>
        <url-pattern>/formsdownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>batchupdate</servlet-name>
        <url-pattern>/batchupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>batchStatus</servlet-name>
        <url-pattern>/batchStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formupload</servlet-name>
        <url-pattern>/formupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excelprofileupdate</servlet-name>
        <url-pattern>/excelprofileupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>maincircularupload</servlet-name>
        <url-pattern>/maincircularupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attinchargeupdate</servlet-name>
        <url-pattern>/attinchargeupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidNotes</servlet-name>
        <url-pattern>/AndroidNotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidDelDir</servlet-name>
        <url-pattern>/AndroidDelDir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectAdd</servlet-name>
        <url-pattern>/SubjectAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentAdd</servlet-name>
        <url-pattern>/StudentAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelStudentUpload</servlet-name>
        <url-pattern>/ExcelStudentUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDetailsUpload</servlet-name>
        <url-pattern>/StaffDetailsUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelForms</servlet-name>
        <url-pattern>/DelForms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDelProfile</servlet-name>
        <url-pattern>/StaffDelProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffFileDownload</servlet-name>
        <url-pattern>/StaffFileDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElectiveJson</servlet-name>
        <url-pattern>/ElectiveJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElectiveUpdate</servlet-name>
        <url-pattern>/ElectiveUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attinchargeedit</servlet-name>
        <url-pattern>/attinchargeedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SMSSender</servlet-name>
        <url-pattern>/SMSSender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffEduDownload</servlet-name>
        <url-pattern>/StaffEduDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffExpDownload</servlet-name>
        <url-pattern>/StaffExpDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBonus</servlet-name>
        <url-pattern>/RemoveBonus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDelProfile</servlet-name>
        <url-pattern>/StudentDelProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStudent</servlet-name>
        <url-pattern>/updateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonSMS</servlet-name>
        <url-pattern>/JsonSMS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addEntry</servlet-name>
        <url-pattern>/addEntry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestEntry</servlet-name>
        <url-pattern>/GuestEntry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonList</servlet-name>
        <url-pattern>/PersonList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonGuest</servlet-name>
        <url-pattern>/JsonGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HolidayData</servlet-name>
        <url-pattern>/HolidayData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateHolidays</servlet-name>
        <url-pattern>/updateHolidays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pendingDetails</servlet-name>
        <url-pattern>/pendingDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processOutPass</servlet-name>
        <url-pattern>/processOutPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processOutPassStaff</servlet-name>
        <url-pattern>/processOutPassStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getFee</servlet-name>
        <url-pattern>/getFee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setFee</servlet-name>
        <url-pattern>/setFee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSpecialFee</servlet-name>
        <url-pattern>/updateSpecialFee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generateMUP</servlet-name>
        <url-pattern>/generateMUP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>receiveMUResponse</servlet-name>
        <url-pattern>/receiveMUResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirectPay</servlet-name>
        <url-pattern>/redirectPay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testRequest</servlet-name>
        <url-pattern>/testRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertYear1</servlet-name>
        <url-pattern>/InsertYear1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BatchAssign</servlet-name>
        <url-pattern>/BatchAssign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentDetail</servlet-name>
        <url-pattern>/PaymentDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentDetails</servlet-name>
        <url-pattern>/PaymentDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>receiveIBResponse</servlet-name>
        <url-pattern>/receiveIBResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>receiveTechProcessResponse</servlet-name>
        <url-pattern>/receiveTechProcessResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TechProcess</servlet-name>
        <url-pattern>/TechProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>receiveTechProcessAPIResponse</servlet-name>
        <url-pattern>/receiveTechProcessAPIResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>councillorattupdate</servlet-name>
        <url-pattern>/councillorattupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CouncillorAttEdit</servlet-name>
        <url-pattern>/CouncillorAttEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffProfileEdit</servlet-name>
        <url-pattern>/StaffProfileEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/Authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendPasswordSMS</servlet-name>
        <url-pattern>/SendPasswordSMS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showReceipt</servlet-name>
        <url-pattern>/showReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentUpdateChanges</servlet-name>
        <url-pattern>/StudentUpdateChanges</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMapping</servlet-name>
        <url-pattern>/addMapping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBoardingPoint</servlet-name>
        <url-pattern>/addBoardingPoint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processBulkOutPass</servlet-name>
        <url-pattern>/processBulkOutPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findNotes</servlet-name>
        <url-pattern>/findNotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authenticator</servlet-name>
        <url-pattern>/Authenticator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SectionUpdate</servlet-name>
        <url-pattern>/SectionUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimingServlet</servlet-name>
        <url-pattern>/TimingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMarks</servlet-name>
        <url-pattern>/UpdateMarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteSubject</servlet-name>
        <url-pattern>/deleteSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamUpdate</servlet-name>
        <url-pattern>/ExamUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkAlumni</servlet-name>
        <url-pattern>/checkAlumni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Switcher</servlet-name>
        <url-pattern>/Switcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdDownload</servlet-name>
        <url-pattern>/IdDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Room_Change</servlet-name>
        <url-pattern>/Room_Change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Local_Guard</servlet-name>
        <url-pattern>/Local_Guard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>local_guardian</servlet-name>
        <url-pattern>/local_guardian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateCheck</servlet-name>
        <url-pattern>/DateCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabMarkUpdate</servlet-name>
        <url-pattern>/LabMarkUpdate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
