/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 26, 2016, 1:15:42 PM
    Author     : Lenovo
*/

.relative {
    position: relative
}
.absolute {
    position: absolute
}
svg {
    fill: currentColor
}
.stretch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.inline-block {
    display: inline-block
}
.display-block {
    display: block
}
.inline {
    display: inline
}
.t {
    display: table;
    width: 100%
}
.t-c {
    vertical-align: middle;
    display: table-cell
}
.a-l {
    text-align: left
}
.a-r {
    text-align: right
}
.a-c {
    text-align: center
}
.v-a-m {
    vertical-align: middle
}
.v-a-t {
    vertical-align: top!important
}
.light {
    font-weight: 300
}
.regular {
    font-weight: 400
}
.bold {
    font-weight: 700
}
.normal {
    font-style: normal
}
.italic {
    font-style: italic
}
.button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer
}
.uppercase {
    text-transform: uppercase
}
.f-n {
    font-size: 17px
}
.f-l {
    font-size: 18px
}
.f-s {
    font-size: 12px
}
body {
    font-weight: 400;
    color: #070606;
    font-size: 17px;
    margin: 0;
    -webkit-font-smoothing: antialiased
}
html {
    font-size: 100%
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 1;
    margin-top: 0;
    text-rendering: optimizeLegibility;
    color: #070606
}
p:first-child {
    margin-top: 0
}
p:last-child {
    margin-bottom: 0
}
.content p,
.content ul,
.content blockquote,
.content ol {
    line-height: 28px
}
html {
    box-sizing: border-box
}
*,
*:before,
*:after {
    box-sizing: inherit
}
.grid {
    font-size: 0
}
.grid [class*="col-"] {
    font-size: 17px;
    display: inline-block
}
.col-1 {
    width: 10%
}
.col-2 {
    width: 20%
}
.col-3 {
    width: 30%
}
.col-4 {
    width: 40%
}
.col-5 {
    width: 50%
}
.col-6 {
    width: 60%
}
.col-7 {
    width: 70%
}
.col-8 {
    width: 80%
}
.col-9 {
    width: 90%
}
.col-10 {
    width: 100%
}
.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #272822;
    -webkit-text-size-adjust: none
}
.hljs-change,
.hljs-flow,
.hljs-keyword,
.hljs-literal,
.hljs-strong,
.hljs-tag,
.hljs-tag .hljs-title,
.hljs-winutils,
.nginx .hljs-title,
.tex .hljs-special {
    color: #f92672
}
.hljs {
    color: #ddd
}
.asciidoc .hljs-code,
.hljs .hljs-constant,
.markdown .hljs-code {
    color: #66d9ef
}
.hljs-class .hljs-title,
.hljs-code,
.hljs-header {
    color: #fff
}
.hljs-attribute,
.hljs-link_label,
.hljs-regexp,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-value {
    color: #bf79db
}
.apache .hljs-cbracket,
.apache .hljs-tag,
.django .hljs-filter .hljs-argument,
.django .hljs-template_tag,
.django .hljs-variable,
.hljs-addition,
.hljs-attr_selector,
.hljs-built_in,
.hljs-bullet,
.hljs-emphasis,
.hljs-envvar,
.hljs-javadoc,
.hljs-link_url,
.hljs-pragma,
.hljs-preprocessor,
.hljs-prompt,
.hljs-pseudo,
.hljs-stream,
.hljs-string,
.hljs-subst,
.hljs-tag .hljs-value,
.hljs-title,
.hljs-type,
.ruby .hljs-class .hljs-parent,
.smalltalk .hljs-array,
.smalltalk .hljs-class,
.smalltalk .hljs-localvars,
.tex .hljs-command {
    color: #f8d032
}
.apache .hljs-sqbracket,
.hljs-annotation,
.hljs-blockquote,
.hljs-comment,
.hljs-decorator,
.hljs-deletion,
.hljs-doctype,
.hljs-horizontal_rule,
.hljs-pi,
.hljs-shebang,
.smartquote,
.tex .hljs-formula {
    color: #5b5b5b
}
.wrapper {
    max-width: 1045px;
    margin: 0 auto
}
a {
    color: #070606;
    text-decoration: none;
}
a:hover {
    color: #221e1e
}
.button--big {
    -webkit-transition: .1s all cubic-bezier(.215, .61, .355, 1);
    transition: .1s all cubic-bezier(.215, .61, .355, 1)
}
.button--big:hover {
    -webkit-transform: scale(1.015);
    -ms-transform: scale(1.015);
    transform: scale(1.015);
    box-shadow: 0 4px 3px rgba(0, 0, 0, .1)
}
.button--big:active {
    -webkit-transform: scale(.985);
    -ms-transform: scale(.985);
    transform: scale(.985)
}
.horizontal-menu {
    margin: 0;
    padding: 0
}
.horizontal-menu li {
    display: inline-block
}
.faq {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 110px;
    -moz-column-gap: 110px;
    column-gap: 110px;
    margin: 100px auto 50px
}
.faq__item {
    margin-bottom: 45px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    color: rgba(0, 0, 0, .6)
}
.faq__item h2 {
    font-weight: 400
}
header {
    position: relative;
    z-index: 5;
    will-change: transform
}
.package-managers .package-managers-toggle {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: #070606;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.package-managers .package-managers-toggle.open .tooltip {
    -webkit-transform: scale(1) translateY(10px);
    -ms-transform: scale(1) translateY(10px);
    transform: scale(1) translateY(10px);
    -webkit-transition: .2s all cubic-bezier(.34, 1.41, .7, 1);
    transition: .2s all cubic-bezier(.34, 1.41, .7, 1)
}
.package-managers .tooltip {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: #fff;
    background: rgba(7, 6, 6, .9);
    position: absolute;
    top: 110%;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    padding: 10px;
    border-radius: 25px;
    -webkit-transition: .15s all cubic-bezier(.455, .03, .515, .955);
    transition: .15s all cubic-bezier(.455, .03, .515, .955);
    -webkit-transform: scale(0) translateY(-40px);
    -ms-transform: scale(0) translateY(-40px);
    transform: scale(0) translateY(-40px)
}
.package-managers .tooltip::-moz-selection {
    background: #fff;
    color: #000
}
.package-managers .tooltip::selection {
    background: #fff;
    color: #000
}
.package-managers .tooltip:after {
    top: -5px;
    left: 50%;
    margin-left: -2.5px;
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 5px solid #070606;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}
.tabs {
    margin: 0 auto;
    max-width: 800px;
    visibility: visible!important;
    opacity: 1!important
}
.tabs__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    width: 100%
}
.tabs__menu-item {
    width: 25%;
    
    display: inline-block;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    text-decoration: none; 
    border-radius: 0px;
    vertical-align: bottom;
    -webkit-transition: .2s all cubic-bezier(.215, .61, .355, 1);
    transition: .2s all cubic-bezier(.215, .61, .355, 1);
    position: relative
}
.tabs__menu-item:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    right: -1px;
    top: 0;
    background: rgba(7, 6, 6, .1);
    z-index: 2
}
.tabs__menu-item:last-child:after {
    display: none
}
.tabs__menu-item a {
    display: block;
    font-size: 25px;
    color: #999999;
    padding: 25px 0;
    font-weight: 300;
    text-decoration: none;
}

.tabs__menu-item.active {
   position: relative;
    z-index: 20;
    background-color: #fff;
        box-shadow: 0px -2.5px 0px rgb(20, 157, 210);
}
.tabs__menu-item.active:after {
    display: none
}
.tabs__menu-item.active12 a {
    color: rgb(20, 157, 210);
    -webkit-transform: scaleY(.8);
    -ms-transform: scaleY(.8);
    transform: scaleY(.8)
}
.tabs__content .tabs-features [class*=grid-] {
    padding: 50px 0;
    -webkit-animation: none;
    animation: none
}
.tabs__content-item {
    background: #f5f5f5;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
   outline: none;
   margin-top: 20px;
   
    width: 100%;
    color: #149dd2;
    max-width: 800px;
    display: none
}
.tabs__content-item svg {
    display: inline-block
}
.tabs__content-item .table-grid {
    text-align: center
}
.tabs__content-item .table-grid:nth-child(2n+1) [class*=grid-]:nth-child(2n+2),
.tabs__content-item .table-grid:nth-child(2n+2) [class*=grid-]:nth-child(2n+1) {
    background-color: rgba(255, 255, 255, .1)
}
.tabs__content-item.active {
    opacity: 1;
    display: block;
    margin: auto;
}
.tabs__content-item.velocity-animating {
    z-index: 2!important
}
.tabs__content .hljs {
    background: 0 0
}
.tab-setup {
    color: rgba(255, 255, 255, .6);
    padding: 80px
}
.tab-setup a {
    color: #fff
}
.tab-setup pre {
    background: #201f1f;
    padding: 30px
}
.tab-setup .row {
    margin-bottom: 50px
}
.tab-setup .t-c {
    padding-right: 50px
}
.tab-setup .t-c:last-of-type {
    padding-right: 0
}
.tabs h2 {
    color: #fff;
    font-weight: 300;
    font-size: 35px;
    text-transform: uppercase
}
pre {
    margin: 0
}
pre code {
    padding: 0!important
}
.feature-item {
    margin-top: 20px;
    font-size: 14px
}
.package-link {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 10px
}
.manual {
    padding: 0 20px
}
.manual a {
    color: #fff
}
.democontent {
    padding-bottom: 100px
}
.democontent>h2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 50px;
    font-size: 25.5px
}
.tabdemo ul {
    margin: 0;
    padding: 0
}
.tabdemo .tabdemo__content-item {
    max-width: 800px
}
.tabdemo--one {
    margin: 0 auto
}
.tabdemo--one .tabdemo__content-item {
    padding: 50px;
    background: #f9f9f9;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    font-size: 19px;
    line-height: 32px
}
.tabdemo--one .tabdemo__menu {
    margin-bottom: 50px;
    display: table;
    width: 100%
}
.tabdemo--one li {
    cursor: pointer;
    padding: 0 20px;
    display: table-cell;
    text-align: center
}
.tabdemo--one li:first-of-type {
    padding-left: 0
}
.tabdemo--one li:last-of-type {
    padding-right: 0
}
.tabdemo--one li a {
    background-color: #f9f9f9;
    border-radius: 1px;
    padding: 20px 40px;
    display: block
}
.tabdemo--one li.active a {
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .33)
}
.tabdemo--one li a {
    text-decoration: none
}
.hidden {
    position: relative;
    overflow: hidden
}
.coming-soon {
    margin: 100px 0
}
.icon {
    vertical-align: middle
}
@media(min-width:600px) {
    .table-grid {
        display: table;
        width: 100%;
        table-layout: fixed
    }
    [class*="grid-"] {
        display: table-cell
    }
    .grid-1 {
        width: 8.333333%
    }
    .grid-2 {
        width: 16.666667%
    }
    .grid-3 {
        width: 25%
    }
    .grid-4 {
        width: 33.333333%
    }
    .grid-5 {
        width: 41.666667%
    }
    .grid-6 {
        width: 50%
    }
    .grid-7 {
        width: 58.333333%
    }
    .grid-8 {
        width: 66.666667%
    }
    .grid-9 {
        width: 75%
    }
    .grid-10 {
        width: 83.333333%
    }
    .grid-11 {
        width: 91.666667%
    }
    .grid-12 {
        width: 100%
    }
    .grid-padded {
        margin-left: -1rem;
        margin-right: -1rem
    }
    .grid-padded .grid {
        border-spacing: 1rem 0
    }
}
@media(max-width:1085px) {
    .wrapper {
        padding-left: 1.4705882353em;
        padding-right: 1.4705882353em
    }
}
@-webkit-keyframes reveal {
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}
@keyframes reveal {
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}