/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 26, 2016, 10:48:48 AM
    Author     : Lenovo
*/
		.tabcontainer{
			width: 800px;
			margin: 0 auto;
                        height: 100px;
                        
		}



		ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
                        
                        
		}
		ul.tabs li{
			background: none;
			color: #222;
			display: inline-block;
                        font-family: 'FontAwesome';
			max-width: 200px;
                        min-width: 197px;
                        padding: 10px 30px;
			cursor: pointer;
                        font-size: 12px;
                        font-weight: bold;
                        
		}

		ul.tabs li.current{
			background: #ededed;
			color: #222;
                        border-top:1px solid #149dd2; 
                        border-left:1px solid #149dd2; 
                        border-right:1px solid #149dd2; 
                        background-color: #fff;
		       
		}

		.tab-content{
			display: none;
                        margin-top: -7px;
			background: #ededed;
			padding: 15px;
                        overflow: auto;
                        width:100%;
                        height:300px;
                        line-height:3em;
                        overflow:scroll;
                        padding:5px;
                        border-top:1px solid #149dd2; 
                        
                        border-left:1px solid #149dd2; 
                        border-right:1px solid #149dd2; 
                        border-bottom:1px solid #149dd2; 
                        
                        background-color: #fff;
		}

		.tab-content.current{
			display: inherit;
		}